<!DOCTYPE html>
<html>
<head>
  <title>Shinema</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <link href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div id="intro">
  <div style="margin:0 auto; width: 960px; padding-top:75px;">
    <h1 style="float:left;"><%= link_to("シネマ shinema", root_path) %> <span><%= @movie_count %> movies rated</span></h1>
    <h1 style="float:right;"><%= @current_user.email %> &nbsp;|&nbsp; <a href="/deauthenticate">logout</a></h1>
  </div>
</div>

<div style="margin:0 auto; width: 960px;">
  <%= yield %>
</div>
</body>
</html>
